{{#if session.connected}}
  {{> vipMenuPartial}}
  {{#if this.changed}}
    <p>Ok<p>
  {{else}}
    <fieldset id="adminAjoutVip">
      <p>{{this.error}}</p>
      <legend>Ajout VIPs</legend>
      <form method="post" action="" id="vipModifForm">
        <table>
          <tr>
            <td>
              Nom* :
            </td>
            <td>
              <input type="text" name="nom" value="{{this.vip.VIP_NOM}}">
            </td>
          </tr>

          <tr>
            <td>
              Prénom* :
            </td>
            <td>
              <input type="text" name="prenom" value="{{this.vip.VIP_PRENOM}}">
            </td>
          </tr>

          <tr>
            <td>
              Sexe :
            </td>
            <td>
              <select name="sexe">
                <option value="M" {{#ifCond this.vip.VIP_SEXE '===' 'M'}}selected{{/ifCond}}>Masculin</option>
                <option value="F" {{#ifCond this.vip.VIP_SEXE '===' 'F'}}selected{{/ifCond}}>Féminin</option>
              </select>
            </td>
          </tr>

          <tr>
            <td>
              Date de naissance :
            </td>
            <td>
              <input type="date" name="dateNaissance" value="{{this.vip.VIP_NAISSANCE}}">
            </td>
          </tr>

          <tr>
            <td>
              Nationalité :
            </td>
            <td>
              <select name="nationalite">
                {{#each this.nats}}
                  <option value="{{this.NATIONALITE_NUMERO}}" {{#if this.selected}}selected{{/if}}>{{this.NATIONALITE_NOM}}</option>
                {{/each}}
              </select>
            </td>
          </tr>

          <tr>
            <td>
              Commentaire :
            </td>

            <td>
              <textarea name="commentaire" class="textarea" form="vipModifForm">{{this.vip.VIP_TEXTE}}</textarea>
            </td>
          </tr>

          <tr>
            <td>
              Date d'insertion* :
            </td>
            <td>
              <input type="date" name="dateInsertion" value="{{this.vip.VIP_DATE_INSERTION}}">
            </td>

          </tr>

        </table>

        <input type="submit" value="Envoyer">
      </form>
    </fieldset>
  {{/if}}
{{else}}
  {{> forbidden}}
{{/if}}
