{{> repertoireVipsPartial}}

    {{#each list}}
      {{#ifCond this.PHOTO_NUMERO '===' 1}}
      <div id="detailVip">
        <p><img id="mainImageVip" class="imageVip" src="/images/vip/{{this.PHOTO_ADRESSE}}"></p>
        <p><b>Nom :</b> {{this.VIP_PRENOM}} {{this.VIP_NOM}} </p>
        <p><b>Date de naissance :</b> {{#formatDate this.VIP_NAISSANCE 'DD MMMM YYYY'}}{{/formatDate}}</p>
        <p><b>Nationalite :</b> {{this.NATIONALITE_NOM}}</p>
        {{#if this.defileCouturier}}
          <p><b>Profession :</b> Couturier</p>
          <p><b>Défilés :</b>

          {{#each this.defileCouturier}}
            {{this.defile_lieu}} ({{formatDate this.defile_date 'MMMM YYYY' }})<br>
          {{/each}}</p>

        {{/if}}

        {{#if this.defileMannequin}}
          <p><b>Profession :</b> Mannequin</p>
          <p><b>Défilés :</b>

          {{#each this.defileMannequin}}
            {{this.defile_lieu}} ({{formatDate this.defile_date 'MMMM YYYY' }}) de {{this.vip_prenom}} {{this.vip_nom}}<br>
          {{/each}}</p>
        {{/if}}

        {{#if this.albumChanteur}}
          <p><b>Profession :</b> Chanteur</p>
          <p><b>Specialité :</b> {{this.chanteurSpecialite}}</p>

          <p><b>Albums :</b>
            {{#each this.albumChanteur}}
              {{this.album_titre}} ({{formatDate this.album_date 'MMMM YYYY' }}) produit par {{this.maisondisque_nom}}<br>
            {{/each}}
          </p>
        {{/if}}


        {{#if this.filmsActeurs}}
          <p><b>Profession :</b> Acteur</p>
          {{#if this.afilms}}
            <p>Films :
            {{#each this.filmsActeurs}}
              {{this.film_titre}} {{#if this.role_nom}} dans le role de {{this.role_nom}}{{/if}} réalisé en {{formatDate this.film_daterealisation 'MMMM YYYY'}} {{#if this.vip_nom}} par {{this.vip_prenom}} {{this.vip_nom}} {{/if}}<br>
            </p>
            {{/each}}
          {{/if}}
        {{/if}}

        {{#if this.filmsRealisateurs}}
          <p>Profession : Réalisateur</p>
          {{#if this.rfilms}}
          <p>Films : </p>
            {{#each this.filmsRealisateurs}}
              <p>{{this.film_titre}} réalisé en {{formatDate this.film_daterealisation 'MMMM YYYY'}}</p>
            {{/each}}
          {{/if}}
        {{/if}}

        {{#if this.mariage}}
          <p>Mariage(s) : {{this.prenomMari}} {{this.nomMari}} ({{formatDate this.dateEvenementMariage 'MMMM YYYY'}} --> {{formatDate this.mariageFin 'MMMM YYYY'}}) lieu : {{this.lieuEvenement}} raison fin mariage : {{this.mariageMotifFin}})
         {{/if}}

         {{#if this.liaison}}
         <p>Liaison(s) : {{this.prenomConcubin}} {{this.nomConcubin}} ({{formatDate this.dateEvenementLiaison 'MMMM YYYY'}}) raison fin liaison : {{this.liaisonMotifFin}})
         {{/if}}

        <p>Qui suis-je : {{this.VIP_TEXTE}}</p>
        </div>
        <table>
        <tr>
      {{else}}
        <td>
          <p><img class="imageVip" src="/images/vip/{{this.PHOTO_ADRESSE}}"></p>
        </td>
      {{/ifCond}}
    {{/each}}
</tr>
</table>
