{{> repertoireVipsPartial}}

<table>
  <tr>
    {{#each list}}
      {{#ifCond this.PHOTO_NUMERO '===' 1}}
        <p><img src="/images/vip/{{this.PHOTO_ADRESSE}}"></p>
        <p>Nom : {{this.VIP_PRENOM}} {{this.VIP_NOM}} </p>
        <p>Date de naissance : {{#formatDate this.VIP_NAISSANCE 'DD MMMM YYYY'}}{{/formatDate}}</p>
        <p>Nationalite : {{this.NATIONALITE_NOM}}</p>
        {{#if this.defileCouturier}}
          <p>Profession : Couturier</p>
          <p>Défilés :

          {{#each this.defileCouturier}}
            {{this.defile_lieu}} ({{formatDate this.defile_date 'MMMM YYYY' }})<br>
          {{/each}}</p>

        {{/if}}

        {{#if this.defileMannequin}}
          <p>Profession : Mannequin</p>
          <p>Défilés :

          {{#each this.defileMannequin}}
            {{this.defile_lieu}} ({{formatDate this.defile_date 'MMMM YYYY' }}) de {{this.vip_prenom}} {{this.vip_nom}}<br>
          {{/each}}</p>
        {{/if}}

        {{#if this.albumChanteur}}
          <p>Profession : Chanteur</p>
          <p>Specialité : {{this.chanteurSpecialite}}</p>

          <p>Albums :
            {{#each this.albumChanteur}}
              {{this.album_titre}} ({{formatDate this.album_date 'MMMM YYYY' }}) produit par {{this.maisondisque_nom}}<br>
            {{/each}}
          </p>
        {{/if}}


        {{#if this.filmsActeurs}}
          <p>Profession : Acteur</p>
          {{#if this.afilms}}
            <p>Films :</p>
            {{#each this.filmsActeurs}}
              <p>{{this.film_titre}} {{#if this.role_nom}} dans le role de {{this.role_nom}}{{/if}} réalisé en {{formatDate this.film_daterealisation 'MMMM YYYY'}} {{#if this.vip_nom}} par {{this.vip_prenom}} {{this.vip_nom}} {{/if}}</p>
            {{/each}}
          {{/if}}
        {{/if}}

        {{#if this.filmsRealisateurs}}
          <p>Profession : Réalisateur</p>
          {{#if this.rfilms}}
          <p>Films : </p>
            {{#each this.filmsRealisateurs}}
              <p>{{this.film_titre}} réalisé en {{formatDate this.film_daterealisation 'MMMM YYYY'}}</p>
            {{/each}}
          {{/if}}
        {{/if}}

        <p>Qui suis-je : {{this.VIP_TEXTE}}</p>
      {{else}}
        <td>
          <p><img src="/images/vip/{{this.PHOTO_ADRESSE}}"></p>
        </td>
      {{/ifCond}}
    {{/each}}
  </tr>
</table>
