<script src="../js/listerAlbum.js"></script>
<div id="menuAlbum">
  <table id="tableMenuAlbum">
    <tr>
      {{#each this.vips}}
        <td class="cellMenuAlbum"><a href="/album/{{this.VIP_NUMERO}}"><img class="photoMenuAlbum" src="/images/vip/{{this.PHOTO_ADRESSE}}"></a></td>
        {{#ifCond this.i '===' 3}}
        </tr><tr>
        {{/ifCond}}
      {{/each}}
    </tr>
  </table>

  <div id="boutonsMenuAlbum">
          <div id="boutonsMenuAlbumPrecedent">
            <input id="boutonMenuAlbumDebut" type="submit" value="Début">
            <input id="boutonMenuAlbumPre" type="submit" value="Précédent">
          </div>
        <div id="boutonsMenuAlbumSuivant">
          <input id="boutonMenuAlbumSuiv" type="submit" value="Suivant">
          <input id="boutonMenuAlbumFin" type="submit" value="Fin">
        </div>
  </div>
</div>
<p>{{this.nom}} {{this.prenom}}</p>


<table id="AlbumPhoto"><tr>
  <td id="ConteneurBoutonPhotoPre">
    <input id="boutonPhotoPre" type="submit" value="<<">
  </td>
  <td id="conteneurPhotoAlbum">
    {{#each this.photos}}
    <div class="photoAlbum">
      <img class="imgAlbum" src="/images/vip/{{this.PHOTO_ADRESSE}}">
      {{#if this.PHOTO_COMMENTAIRE}}
        <fieldset id="ComPhotoAlbum">
          <legend>Commentaire</legend>
          <p>{{this.PHOTO_COMMENTAIRE}}</p>
        </fieldset>
      {{/if}}
    </div>
    {{/each}}
  </td>
  <td id="ConteneurBoutonPhotoSuiv">
    <input id="boutonPhotoSuiv" type="submit" value=">>">
  </td>

</tr></table>
